#main
{
    position:relative;
    left:20%;
    background-color:blanchedalmond;
    height:100%;
    width:60%;
    text-align:center;
    bottom:8px;
}
body{
    background-color: tan;
}

.italic
{
    font-style:italic;
}
.weight
{
    font-weight:bold;
}
h1,.red
{
    color:red;
    margin:1%;
}
.left
{
    width:35%;
    height:10%;
    background-color: wheat;
  display:inline-block;
    margin-top:2%;
    margin-right:3%;
    line-height:1em;
}
.right
{
    width:35%;
    height:auto;
    background-color: wheat;
    display:inline-block;
    margin-top:2%;
margin-left:3%;
line-height: 1em;
}
.left,.right{
    height:60px;
}
img 
{
    width:75%;
    height:5%;
    margin-bottom:8px;
}
#par::before
{
    font-size:200%;
content:"§";
}
.one
{
height:20%;
}

